
<div class="semakare-wrapper min-h-screen flex flex-col font-body bg-surface text-on-surface">
  {% include '@semakare_theme/components/header.html.twig' %}
  
  <main role="main" class="pt-24 flex-grow">
    {{ page.content }}
  </main>

  {% include '@semakare_theme/components/footer.html.twig' %}
</div>
